/*-----------------------------------------------------------------------------------*/
/* GENERAL STYLES
/*-----------------------------------------------------------------------------------*/
*{
  box-sizing: border-box;
}

body{
  margin:0 !important;
}
/*-----------------------------------------------------------------------------------*/
/* MOBILE STYLES
/*-----------------------------------------------------------------------------------*/


$mobile: 600px;
$tablet: 769px;
$desktop: 992px;
$large: 1200px;

@mixin Mobile($arg){
  @media  screen and (min-width: $arg) {
    .comp-wrap{
      width: calc(100% - 50px);
      margin-right: 25px;
      margin-left: 25px;
    }
    @content;
  }
}



@mixin Tablet($arg){
  @media  screen and (min-width: $arg) {
    .comp-wrap{
      width: calc(100% - 20%);
      margin-right: 10%;
      margin-left: 10%;
      max-width: 1024px;
    }
    @content;
  }
}


/*******************************************************************************/
/*********************MIXINS***********************/
/*******************************************************************************/




/*******************************************************************************/
/*********************IMPORTS COMPONENTS***********************/
/*******************************************************************************/

@import "componentes/footer/footer";